#contactModal_background {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    color:black;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26,39,156,0.4);
}


  
.invalid-feedback{
  color:#400000;
  display:none;
}

#confirmation{
  color:#400000;
  display:none;
}

.closeConfirmationMessage{
  margin-left:29rem;
}
.text-label-conf{
   margin-left:13rem;
   margin-top:13rem;
}
.text-label-conf2 {
  margin-left: 4rem;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
}

.photograph-profile {
    margin-bottom:67px;
    margin-left:34px;
}
.profile article h1 {
   color: #D3573C;
   font-size: 64px;
   margin-top:0px;
   margin-bottom:0px;
  
}

.photograph-header_description_location{
color: #901C1C;
font-size: 24px;
margin-top:21px;
padding-bottom:14px;
}
.photograph-header_description_tagline{
    font-size: 18px;
    padding-top:12px;
    }
    .photograph-header_description_picture_user{
        width:200px;
        height:200px;
        border: none;
        border-radius : 103px;
        margin-left:285px;
    }

  


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    margin-top:23px;
    cursor: pointer;
}

  .modal {
    position: fixed;
    display:block;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #db8876;
    width:33rem;
    padding: 1em;
    z-index:34;
    height:50rem;
}

 .modalConf {
   position: fixed;
   display: none;
   left: 53%;
   top: 50%;
   transform: translate(-50%, -50%);
   flex-direction: column;
   border-radius: 0.5rem;
   background-color: #db8876;
   width: 33rem;
   padding: 1em;
   z-index: 34;
   height: 50rem;
 }


 #lightbox{
  display:none;
 }




@media only screen and (max-width: 767px) {
  .modal {
    width: 100%;
    padding: 1em;
  }
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  margin-top:0;
}
.modal-title {
  vertical-align: top;
  font-size: 34px;
  font-weight: 400;
  margin-top:0px;
  margin-bottom:0px;
}
@media only screen and (max-width: 767px) {
  .modal-title {
    font-size: 3.5rem;
  }
}
.modal-close {
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .modal-close {
    width: 3rem;
    height: 3rem;
  }
}
.modal-close-img {
  width: 100%;
  height: 100%;
}
.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal-label {
  color: #312e2e;
}
@media only screen and (max-width: 767px) {
  .modal-label {
    font-size: 2rem;
  }
}
.modal-input {
  height:1rem;
  width:94%;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin: 0;
  padding: 0.5em;
}
@media only screen and (max-width: 767px) {
  .modal-input {
    height: 4rem;
    font-size: 1rem;
  }
}
.modal-msg {
  height: 7rem;
}
@media only screen and (max-width: 767px) {
  .modal-msg {
    height: 10rem;
  }
}
.modal-submit {
  margin-top: 2em;
}
@media only screen and (max-width: 767px) {
  .modal-submit {
    margin-top: 0;
  }
}



form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    border: none;
    border-radius: 5px;
}


.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  


  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    width: 60px;
    height: 60px;
  }

  img.active {
    opacity: 1 !important;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .hover-shadow{
    height:300px;
    width:300px;
  }

.dropdown,  .d-inline-block{
  margin-left:234px;
}


   .btn , .btn-danger span{
    position:relative;
    z-index:2;
    margin-right:33px;
   
   }

  .dropbtn {
    width: 10.625rem;
    height: 4rem;
    background-color: #901c1c;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom:66px;
    object-fit:cover;
  
  }
  
  .dropbtn.show {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  
  .btn.btn-danger.dropdown-toggle.dropbtn.show .dropdown-arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .dropdown-menu {
    margin-top: -64px !important;
    background-color: #901c1c;
  }
  
  .dropdown-menu .show {
    border-top-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
  }
  
  .dropdown-arrow {
  color:black;
  background-color: color;
  }
  
  .dropdown-toggle::after {
    content: none;
  }


  .hide {
    display: none !important;
  }
  .sort-title {
    font-size: 1.125rem;
    font-weight: 700;
  }
  
  .sort-button {
    width: 10.625rem;
    width: 100%;
    height: 4rem;
    border-radius: 0;
    background-color: #901c1c;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  }
  
  .sort-by-button-group li:last-child button {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
  }
  
  .sort-name {
    display: block;
    border-top: 0.1rem solid white;
    line-height: 4rem;
  }

  #sort-by-popularity, #sort-by-name, #sort-by-date {
   width:10.625rem;
      margin-left:-40px;
  }

  #sort-dropdown{
    width:8rem;
  }

        @media screen and (max-width:861px) {

    .contact_button {
        width: 147px;
        height: 53px;
        font-size: 14px;
        width:101px;

      }

    }

