@import url("photographer.css");
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article h2 {
    color: #D3573C;
    margin-top:0px;
    margin-bottom:0px;
}
.photographerLink{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}
.card_location {
    color: #901C1C;
    font-size: 13px;
}
.card_tagline {
    font-size: 10px;
}
.card_price {
    font-size: 9px;
}
.photographer_section article img {
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}
.photograph-header_description_picture{
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}
.photograph-header_description {
    display:flex;
    flex-direction: row;
}
.photograph_Creations{
    display:flex;
    gap:15px;
    padding:15px;
    margin: 0 100px;
    flex-direction: column;
}
.photograph_Creations_card{
    margin-top:23px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_description_title{
    font-size:18px;
    color: #901C1C;
}
.card_image{
    width:350px;
    height:300px;
    margin-bottom:10px;
    object-fit: cover;
}
.card_descriptio{
    display:flex;
    flex-direction: row;
    margin:8px;
}
.card_video{
    width:350px;
    height:300px;
    margin-bottom:10px;
    object-fit: cover;
}


.card_description_creationLikes{
    display: flex;
}
.card_description_likes{
    font-size: 16px;
    color: #901C1C;
}
.card_description{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom:15px;
}

.dashBoard{
    z-index:1;
    right:2.25rem;
    left:unset;
    width:fit-content;
    background:#db8876;
    font-size:1.5rem;
    font-weight:500;
}

.dropdown-menu{
    width: 10.625rem;
    height: 4rem;
    background-color: #901c1c;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 3rem;
}


.photographers-about-likes-and-price{
    z-index: 1;
    right: 2.25rem;
    left: unset;
    width: -webkit-fit-content;
    
    width: fit-content;
    background: #db8876;
    font-size: 1.5rem;
    font-weight: 500;
}

.photographers-Image article img {
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}

.photographers-Price{
    z-index:1;
    top:868px;
    position:fixed;
    right: -0.75rem;
    left: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #db8876;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.price{
    margin-right:10px;
}
.allLikes{
    margin-right:0.25rem;
}

.photographersPriceHeart{
    display: flex;
    margin-right: 1rem;
}


.photograph_Creations_dropDown_word{
    margin-left:2.6vw;
    margin-right:2.6vw;
}