@import url("photographer.css");
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header h1{
    color: #901C1C;

}
.header-logo{
    width:200px;
    height:50px;
    margin-left:62px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographer_section article h2 {
    color: #D3573C;
    margin-top:0px;
    margin-bottom:0px;
}
.photographerLink{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}
.card_location {
    color: #901C1C;
    font-size: 13px;
}
.card_tagline {
    font-size: 10px;
}
.card_price {
    font-size: 9px;
}
.photographer_section article img {
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}
.photograph-header_description_picture{
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}
.photograph-header_description {
    display:flex;
    flex-direction: row;
}
.photograph_Creations{
    display:flex;
    gap:15px;
    padding:15px;
    margin: 0 100px;
    flex-direction: column;
}
.photograph_Creations_card{
    margin-top:23px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_description_title{
    font-size:18px;
    color: #901C1C;
}
.card_image{
    width:350px;
    height:300px;
    margin-bottom:10px;
    object-fit: cover;
}
.card_descriptio{
    display:flex;
    flex-direction: row;
    margin:8px;
}
.card_video{
    width:350px;
    height:300px;
    margin-bottom:10px;
    object-fit: cover;
}


.card_description_creationLikes{
    display: flex;
}
.card_description_likes{
    font-size: 16px;
    color: #901C1C;
}
.card_description{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom:15px;
}

.dashBoard{
    z-index:1;
    right:2.25rem;
    left:unset;
    width:fit-content;
    background:#db8876;
    font-size:1.5rem;
    font-weight:500;
}

.dropdown-menu{
    width: 10.625rem;
    height: 4rem;
    background-color: #901c1c;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 3rem;
    position:relative;
    z-index:2;
    top:19px;
    right:-5px;
    
}
#sort-dropdown{
    display:none;
}

.sort-drop{
    position:relative;
    z-index:2;
    top:-82px;
    right:39px;
    display:none;
}
.dropdown-options{
    width: 10.625rem;
    height: 4rem;
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    margin-left:14px;
    margin-top:13px;
}


l{
    position:relative;
    z-index:2;
    top:-81px;
    right:40px;
    display:none;
}





.dropdown-optionsSpan{

    margin-left:5px;
    margin-top:13px;
}


.dropdown-optionsSpan2{

    margin-left:5px;
    margin-top:13px;
}


.dropdown-options3{
    width: 10.625rem;
    height: 4rem;
   
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  
}

.dropdown-touch{
    width: 10.625rem;
    height: 4rem;
   
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  
}

.dropdown-options4{
    width: 10.625rem;
    height: 4rem;
   
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  
}
.dropdown-options5{
    width: 10.625rem;
    height: 4rem;
   
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  
}



header .logo {
  margin-right:923px;
}


.photographers-about-likes-and-price{
    z-index: 1;
    right: 2.25rem;
    left: unset;
    width: -webkit-fit-content;
   
    width: fit-content;
    background: #db8876;
    font-size: 1.5rem;
    font-weight: 500;
}

.photographers-Image article img {
    width : 150px;
    height : 150px;
    border: none;
    border-radius : 75px;
}



.photographers-Price{
    z-index:1;
    top:834px;
    position:fixed;
    right: 0.25rem;
    left: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #db8876;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    padding:16px;
}

.price{
    margin-right:10px;
}
.allLikes{
    margin-right:0.25rem;
}

.photographersPriceHeart{
    display: flex;
    margin-right: 1rem;
}


.photograph_Creations_dropDown_word{
    margin-left:2.6vw;
    margin-right:2.6vw;
}
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  #lightboxMedia{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.9);
    z-index:10;
    display:none;
    margin-left:0;
    margin-top:0;
  }

  .lightbox-img, .lightbox-video{
    width:380px;
    height:356px;
    right:-670px;
    top:301px;
    position:relative;
  }
  

  .lightbox__next, .lightbox__previous{
    border:none;
    background: url(/assets/icons/arrow.svg) center center / 48px 48px no-repeat;
    width:96px;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    margin-top:31px;
    z-index:12;  
  }



  .lightbox__previous{ 
    right:auto;
    left:0;
    transform: rotate(180deg);
  }

  .lightbox__close{
    width:35px;
    height:35px;
    border:none;
    background: url(/assets/icons/close.svg) center center / 100% 100% no-repeat transparent;
    position:fixed;
    top:10px;
    right:6px;
    z-index:12;
  }

  #lightbox button {
    opacity: 0;
    cursor:pointer;
    transition: opacity .3s;
    text-indent: -3000px;
    z-index:12;
  }

  #lightbox button:hover {
    opacity:1;
    text-indent: -3000px;
  }

  #lightbox__container{
   position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-right:50px;
    z-index:11;
   
  }

  .dropDownSort{
    margin-left:103px;
  }

  .dropdown-options2 {
    margin-left:14px;
    margin-top:13px;
      width: 10.625rem;
    height: 4rem;
   
    border-radius: 0;
    color: white;
    background-color: #901c1c;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
  }

  

  .dropdown-icon {
    margin-left:25px;
    margin-right:5px;
    rotate:271deg;
    margin-bottom:-7px;
  }

   .dropdown-icon2 {
    margin-top:12px;
    margin-left:25px;
    margin-right:5px;
    rotate:450deg;
    margin-bottom:-7px;
  }

  
  

  