@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}



.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    margin-top:0px;
    margin-bottom:0px;
}

.photographerLink{
    justify-self: center;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
  
}
.card_location {
    color:  #901C1C;
    font-size: 13px;
    
}

.card_tagline {  
    font-size: 10px;
    
}
.card_price {  
    font-size: 9px;
    
}

.card_image{
    height:223px;
    width:223px;
}

.photographer_section article img {
    width : 150px; height : 150px;
    border: none;
    border-radius : 75px;
    
}

.photograph_Creations{

    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}




.photograph-header_description_picture{
    width : 150px; height : 150px;
    border: none;
    border-radius : 75px;  
}



.photograph-header_description {
    display:flex;
    flex-direction: row;   
}

